# Predict whether income exceeds $50K/yr - 1994 Census Income Dataset

<p><img src='https://i1.wp.com/files.agro20.com.br/uploads/2019/11/censo-1.jpg?fit=1024%2C587&ssl=1'/></p>
<p>O objetivo deste projeto é, a partir dos dados do Censo de 1994 dos Estados Unidos, predizer se uma pessoa ganha mais de 50K por ano. Os dados que vamos utilizar foram extraídos do <strong>UCI Machine Learning Repository</strong> e podem ser acessados clicando <a href="https://archive.ics.uci.edu/ml/datasets/Census+Income">aqui</a>.</p>

<p>Primeiramente, faremos uma análise exploratória dos dados para obter um entendimento melhor dos dados e como estão distribuidos. Posteriormente, será feita a limpeza dos dados e, por fim, a criação de modelos de Machine Learning para alcançar o objetivo final.</p>

<p> Os dados estão divididos nos seguintes arquivos:</p>
<ol>
<li><code>data/adult.data</code> contém os dados para treino.</li>
<li><code>data/adult.test</code> contém os dados para teste.</li>
<li><code>data/adult.names</code> contem detalhes sobre os dados.</li>
</ol>

## 1. Import Libs and Dataset

In [1]:
import pandas as pd

In [2]:
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 
            'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'target']

df_train = pd.read_csv('data/adult.data', names=columns)
df_test = pd.read_csv('data/adult.test', names=columns, skiprows=1)
df = pd.concat([df_train, df_test], ignore_index=True)

## 2. Análise exploratória

### Interpretação dos dados

Legenda dos atributos:
- age: idade de um indivíduo.
- workclass: status de emprego.
- fnlwgt (peso final): número de pessoas que o perfil representa.
- education: maior nível de educação alcançado pelo indivíduo.
- education-num: maior nível de educação alcançado representado numericamente.
- marital-status: estado civíl.
- occupation: tipo de ocupação do indivíduo.
- relationship: o que o indivíduo é em relação aos outros (marido, esposa, etc.)
- race: raça do indivíduo.
- sex: sexo biológico.
- capital-gain: ganho de renda.
- capital-loss: perda de renda
- hours-per-week: horas trabalhadas por semana.
- native-country: país de origem do indivíduo.
- label: se o indivíduo ganha mais ou menos de 50K.

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      48842 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48842 non-null  object
 14  target          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [5]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

### Visualização